@model GerenciadorLives.Models.Inscricoes

@{
    ViewData["Title"] = "Cadastrar";
}

<h1>Nova Inscrição</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="LiveId" class="control-label"></label>
                <select asp-for="LiveId" class ="form-control" asp-items="ViewBag.LiveId"></select>
            </div>
            <div class="form-group">
                <label asp-for="InscritoId" class="control-label"></label>
                <select asp-for="InscritoId" class ="form-control" asp-items="ViewBag.InscritoId"></select>
            </div>          
            
            <div class="form-group">
                <input type="submit" value="Cadastrar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Listar</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
